html, body {
    margin: 0;
    padding: 0;
}


.background {
    position:absolute;
    display:block;
    top: 0;
    left: 0;
}

.inter {
    margin-bottom: -5px;
}

.form-label{
    margin-top: 10px;
    margin-bottom: 0px;
}